{% extends 'layout.twig' %}

{% block body %}
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">City</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" oninput="changtab()">
                {% set newArray = [] %}
                {% for line in json %}
                    {% if line.Title not in newArray %}
                        {% if loop.first %}
                            <option selected>{{ line.Title }}</option>
                        {% else %}
                            <option>{{ line.Title }}</option>
                        {% endif %}
                        {% set newArray = newArray|merge([line.Title]) %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Percent</th>
        </tr>
        </thead>
        <tbody id="tab">
        </tbody>
    </table>
    <script src="./javascripts/main.js"></script>
{% endblock body %}